<%- include("partials/header.ejs") %>

<h1>HOME</h1>
<p>
    <%= homeContent %>
</p>

<% posts.forEach(post=>{ %>
    <h1><%= post.title %></h1>
    <p><%= post.message.slice(0, 350) %> <a href="/posts/<%= post.title %>" >learn More</a></p>
    <% }) %>